<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-danger">
			{{error}}
		</div>
	</div>

	<div class="col-xs-12">
		<h3>Add a new appointment</h3>
		<form [formGroup]="insertForm" (ngSubmit)='addAppointmentSubmit()'>
			<div class="form-group">
				<label>
					Name:
					<input type="text" formControlName="Name" class="form-control" required>
				</label>

			</div>

			<div class="form-group">
				<label>
					Start hour:
					<select formControlName="StartHour" class="form-control" (change)="startHourChanged($event)">
						<option value="8">08:00</option>
						<option value="9">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
					</select>
				</label>
			</div>

			<div class="form-group">
				<label>
					End hour:
					<select formControlName="EndHour" class="form-control" (change)="endHourChanged($event)">
						<option value="8">08:00</option>
						<option value="9">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
					</select>
				</label>
			</div>

			<div class="form-group">
				<button class="btn btn-default btn-md" type="submit" [disabled]="!insertForm.valid || foundError==true">Add
					appointment</button>
			</div>
		</form>
	</div>
</div>